/*le debut*/

/*Polices
Logo et titres: Shrikhand
Texte: Roboto


Couleurs
Primaire violet #9356DC 
secondaire rose #FF79DA 
tertiaire vert  #99E2D0
rose claire     #F5EDFF

gris1 #EAEAEA
gris2 #F6F6F6
noir footer #353535


/*LES BASES*/

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	margin: 0;
}