/*le debut*/

/*Polices
Logo et titres: Shrikhand
Texte: Roboto


Couleurs
Primaire violet #9356DC 
secondaire rose #FF79DA 
tertiaire vert  #99E2D0
rose claire     #F5EDFF

gris1 #EAEAEA
gris2 #F6F6F6
noir footer #353535

/*loading spinner*/

 
/*LES BASES*/
@media (min-width:768px) {
    .footer_section{
        display: flex;
        justify-content: center;
    }

    .footer_list{
        padding-left: 0px;
    }
}


body {
	font-family: 'Roboto',sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	margin: 0;
}


ul {
	list-style: none;
}
a {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.fas {
	font-size: 20px;
	color: #000000;
}
.fas:hover {
	cursor: pointer;
}

.far:hover {
	cursor: pointer;
}

/*header SECTION */


.header_wrapper{
    display: flex;
    justify-content: center;
    padding: 16px;
    align-items: center;

}
.fleche_gauche{
    position: relative;
    left: -50px;
}
/*IMAGE SECTION */
.restaurants_photo_img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    z-index: 2;

}

/*MENU SECTION */

.menu_section{
    z-index: 3;
    background-color: #f6f6f6;
}
.menu_wrapper{
    display: flex;
    position: relative;
    bottom: 50px;
    z-index: 1;
    background-color: #f6f6f6;
    border-radius: 25px;
    align-items: center;
    flex-direction: column;
}

.menu_bloc{
    margin-left: 13px;
    margin-right: 13px;
}

.menu_titre{
    font-family: "Shrikhand",sans-serif;
    font-size: 25px;
}
.menu_tete{
    display: flex;
    align-items: center;
    position: relative;
    right: 60px;
}

.coeur_vide{
    font-size: 25px;
    position: relative;
    left: 115px; 
    transition-duration: .5s;
    width: fit-content;
    background: #f6f6f6;
    transition-duration: 0.5s;
    
}
.coeur_vide:hover{
    opacity: 0;
}

.coeur_plein{
    position: relative;
    left: 140px;  
    opacity: 1;
    font-size: 25px;
    width: fit-content;
    transition-duration: 0.5s;
    background: -webkit-linear-gradient( #9356DC,#FF79DA);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    
}

.coeur_plein:hover{
    opacity: 1;
    font-size: 25px;
    background: -webkit-linear-gradient( #9356DC,#FF79DA);
    background-clip: text;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;  
}

.menu_petit_titre{
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
}

.ligne{
    border-top: solid;
    border-color: #99E2D0;
    color: #f6f6f6;
    
}

.menu_petit_bloc{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #Ffff;
    height: 65px;
    width: 330px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
    justify-content: space-between;
    overflow: hidden;
}


.anime_cercle {
    display: flex;
    position: relative;
    left: 8px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 10px;
    height: 100%;
    border-radius: 0px 15px 15px 0px;;
    background: #99e2d0;
    transition: width 0.5s, height 0.1s;
}

.menu_petit_bloc:hover{
    cursor: pointer;
}

.menu_petit_bloc:hover .anime_cercle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100%;
    

}
.menu_petit_bloc:hover .cercle {
    animation: rotate_cercle 1s;
    
}

.petit_bloc_texte{
    margin: 13px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.menu_mini_titre{
    margin: 0px;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.texte_mini_titre{
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13.5px;
}

.prix{
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    height: 40px;
    margin: 13px 5px 13px 13px;
}



.cercle{
   color:white;
   position: relative;
   right: 4px;
}

@keyframes affiche_cercle{
    0%{
        width: 0px;
        opacity: 0;
        
    }
    100%{
        opacity: 1;
        width: 110px;
    }
}

@keyframes rotate_cercle {
	0% {
		transform: rotate(0deg)
	}
	100% {
		transform: rotate(360deg)
	}
}








.bloc1 {
    
    animation: monte 1s;
   
}
@keyframes monte {
    0% {
        opacity:0;
        transform: translateY(1rem);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.bloc2 {
    
    animation: monte 2s;
   
}
@keyframes monte {
    0% {
        opacity:0;
        transform: translateY(1rem);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.bloc3 {
    
    animation: monte 3s;
   
}
@keyframes monte {
    0% {
        opacity:0;
        transform: translateY(1rem);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

.bouton_commander{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.commander{
    cursor: pointer;
    height: 56px;
    width: 200px;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border-style: none;
    border-radius: 100px;
    margin-bottom: 30px;
    margin-top:30px ;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
}

.commander:hover{
    box-shadow: 0px 4px 8px rgb(0 0 0 / 70%);
    background: linear-gradient(#ff79d9bd, #9256dcd5);
}
/*footer SECTION */
.footer_section{
    background-color: #353535;
    color: white;
}
.footer_titre{
    display: inline-block;
    padding-left: 30px ;
    margin-top: 16px;
    margin-bottom: 0px;
    font-family: "Shrikhand";
    font-size: 20px;
}

.footer_list{
    padding-left:30px
}
.footer_lien{
    color: white;
}

.icone_footer{
    padding-right:4px ;
    font-size: 16px;
    color: white;
}
.footer_wrapper {
    display: flex;
   
}

