/*le debut*/

/*Polices
Logo et titres: Shrikhand
Texte: Roboto


Couleurs
Primaire violet #9356DC 
secondaire rose #FF79DA 
tertiaire vert  #99E2D0
rose claire     #F5EDFF

gris1 #EAEAEA
gris2 #F6F6F6
noir footer #353535


/*LES BASES*/

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	margin: 0;
}


ul {
	list-style: none;
}
a {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.fas {
	font-size: 20px;
	color: #000000;
}
.fas:hover {
	cursor: pointer;
}

/*header SECTION */

.header_section {
	margin-bottom: 16px;
}
.header_wrapper{
    display: flex;
    justify-content: space-around;

}

/*presentation SECTION */
.presentation_zone_haut{
    background-color: #EAEAEA;
}

.presentation_zone_haut{
    display: flex;
    align-items: center;
    justify-content: center;;
}
.zone_de_presentation{
    background-color: #F6F6F6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation{
    cursor: pointer;
    height: 56px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #0065FC;
    border-style: none;
    border-radius: 100px;
}

/*fonctionnement SECTION */
.section_choix{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.petit_container{
    display: flex;
    align-items: center;
    background-color: #F6F6F6;
    border-style: solid;
    border-color: violet;
    margin-bottom: 56px;
}


/*restaurants SECTION */

.restaurants_section {
    margin-top: 32px;
    margin-bottom: 48px;
}
.restaurants_wrapper {
    padding-top: 32px
}
.restaurants_titre {
    margin-bottom: 32px;
}
.restaurants_boite_bloc{
    display: flex;
	flex-direction: column;
	align-items: center;
    grid-row-gap: 25px;
}
.restaurants_boite {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 16px 1px rgba(0, 0, 0, 0.2);
    height: 250px;
    width: 325px;
}

.petit_text{
    display: flex;
}
.restaurants_boite:hover {
    transform: scale(1.02);
}


.restaurants_photo_img {
    width: 100%;   
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}


/*footer SECTION */
.footer_section{
    background-color: #353535;
    color: white;
}
.footer_lien{
    color: white;
}

.footer_wrapper {
    display: flex;
   
}

